language: python

python:
  - "2.7"

sudo: false

install:
  - pip install -r requirements.txt
  - pip install -r requirements-dev.txt
  - paver setup

script:
  - echo -e "admin\ntest\ntest\nyou@example.com\nyou@example.com" | python GeoHealthCheck/models.py create
  - flake8
  - python GeoHealthCheck/models.py load tests/data/fixtures.json y
  - python GeoHealthCheck/healthcheck.py
  - python tests/run_tests.py
  - cd docs && make html

after-script:
  - python GeoHealthCheck/models.py drop
