Flask==1.1.1
Flask-Babel==0.12.2
Flask-Login==0.4.1
Flask-Migrate==2.5.2
Flask-Script==2.0.6
SQLAlchemy==1.3.8
Flask-SQLAlchemy==2.4.0
itsdangerous==1.1.0
pyproj==2.6.1.post1
lxml==4.6.3
OWSLib==0.20.0
jsonschema==3.0.2 # downgrade from 3.2.0 on sept 29, 2020, issue 331, consider better fix
openapi-spec-validator==0.2.8
Sphinx==4.1.1
sphinx-rtd-theme==0.5.2
requests>=2.23.0
WTForms==2.2.1
APScheduler==3.6.1
passlib==1.7.1
Werkzeug==0.16.1
