<table class="probe-entry table" data-probe-class="{{ probe.probe_class }}">
    <!-- HTML segment for single Probe edit, need this to dynamically add new Probes to Resource in edit_resource.html -->
    <tr>
       <td>
           <strong>{{ probe_info.NAME }} </strong>- by  {{ probe_info.AUTHOR }}
           <br/><i>{{ probe_info.DESCRIPTION }}</i>
        <div class="probe-detail resource-probe-edit" style="display: none">
            <table class="table resource-probe-data" data-probe-class="{{ probe.probe_class }}">
                <tr>
                     <td>
                         <strong>Probe Parameters</strong>
                         {% if not probe.parameters %}
                         <br/><span>This Probe has no parameters.</span>
                         {% else %}

                         {% for param in probe.parameters  %}
                         <table class="table resource-probe-params">
                             <tr>
                                 <td width="30%">{{ param }}</td>

                                 <td>
                                     {% set probe_param_val = probe.parameters[param] %}
                                     {% set probe_param_type = probe_info.PARAM_DEFS[param]['type']  %}

                                     {% if probe_param_type == 'bbox' or probe_param_type == 'stringlist' %}
                                        {% set probe_param_type = 'list'  %}
                                        {% set probe_param_val = probe_param_val|join(',') %}
                                     {% endif %}

                                     <input data-probe-param="{{ param }}" data-probe-param-type="{{ probe_param_type }}" type="text"
                                            value="{{ probe_param_val }}"
                                            style="width: 100%;"
                                     {% if 'value' in probe_info.PARAM_DEFS[param] %}
                                        readonly="true"
                                      {% endif %}
                                      />
                                 </td>
                             </tr>
                         </table>

                         {% endfor %}
                         {% endif %}

                     </td>
                 </tr>
                <tr>
                     <td class="resource-probe-checks check-edit-forms">
                         <strong>Probe Checks</strong>
                         {% if not probe.check_vars %}
                         <br/><span>This Probe has no Checks yet (or none avail).</span>
                         {% else %}

                         {% for check in probe.check_vars %}
                         {% set check_info = probe_info.CHECKS_AVAIL[check.check_class] %}
                            {% include 'includes/check_edit_form.html' %}
                         {% endfor %}
                         {% endif %}
                     </td>
                 </tr>
                <tr>
                     <td>
                         <strong>Checks Available</strong>
                         {% if not probe_info.CHECKS_AVAIL %}
                          <br/><span>No Checks available (maybe internal Checking).</span>
                          {% else %}

                          <table class="table">
                         {% for check_class, check in probe_info.CHECKS_AVAIL.iteritems() %}
                           <tr>
                               <td>
                                   <strong>{{ check.NAME }}</strong>
                               </td>
                               <td width="20%">
                                   <button type="button" data-check-class="{{ check_class }}"
                                           class="button-checks-avail-add btn btn-primary btn-xs">{{ _('Add') }}
                                   </button>
                               </td>
                           </tr>

                         {% endfor %}
                          </table>
                         {% endif %}
                     </td>
                 </tr>

            </table>
         </div>

    </td>
    <td width="20%">
     <button type="button" class="button-resource-probe-edit btn btn-primary btn-xs">{{ _('Edit') }}</button>
     <button type="button" class="button-resource-probe-delete btn btn-danger btn-xs">{{ _('Delete') }}</button>
     </td>
    </tr>
</table>
