<table class="probe-entry table table-condensed table-bordered">
    <tr>
        <td title="{{ probe_avail.DESCRIPTION }}">
            <span><strong>{{ probe_avail.NAME }} </strong>- by  {{ probe_avail.AUTHOR }}</span>
            <br/><i>{{ probe_avail.DESCRIPTION }}</i>
            <div class="probe-detail probe-avail-info" data-probe-class="{{ probe_class }}" style="display: none">
                <table class="table table-condensed table-bordered">
                    <tr>
                         <td>Class: <i>{{ probe_class }}</i></td>
                     </tr>
                    <tr>
                        <td>
                            <table class="table">
                                <tr>
                                    <td>resource type</td>
                                    <td>{{ probe_avail.RESOURCE_TYPE }}</td>
                                </tr>
                                <tr>
                                    <td>request method</td>
                                    <td>{{ probe_avail.REQUEST_METHOD }}</td>
                                </tr>
                                <tr>
                                    <td>request template</td>
                                    <td>{{ probe_avail.REQUEST_TEMPLATE }}</td>
                                </tr>
                                <tr>
                                    <td>request headers</td>
                                    <td>{{ probe_avail.REQUEST_HEADERS }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Parameters</strong>
                            {% if not probe_avail.PARAM_DEFS %}
                            This Probe has no parameters.
                            {% else %}
                            <table class="table table-condensed table-bordered">
                                {% for param in probe_avail.PARAM_DEFS %}
                                <tr>
                                    <td width="30%">{{ param }}</td>
                                    <td>
                                        <i>{{ probe_avail.PARAM_DEFS[param].description }}</i>
                                        <table class="table">
                                            <tr>
                                                <td>type</td>
                                                <td>{{ probe_avail.PARAM_DEFS[param].type }}</td>
                                            </tr>
                                            <tr>
                                                <td>required</td>
                                                <td>{{ probe_avail.PARAM_DEFS[param].required }}</td>
                                            </tr>
                                            <tr>
                                                <td>range</td>
                                                <td>{{ probe_avail.PARAM_DEFS[param].range }}</td>
                                            </tr>
                                            <tr>
                                                <td>default</td>
                                                <td>{{ probe_avail.PARAM_DEFS[param].default }}</td>
                                            </tr>
                                            <tr>
                                                <td>(fixed) value</td>
                                                <td>{{ probe_avail.PARAM_DEFS[param].value }}</td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Checks</strong>
                            {% if not probe_avail.CHECKS_AVAIL %}
                            This Probe has no checks.
                            {% else %}
                            {% for check_class, check_info in probe_avail.CHECKS_AVAIL.iteritems() %}
                                {% include 'includes/check_info.html' %}
                            {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>

        </td>
        <td width="20%">
            <button type="button" title="{{ probe_avail.DESCRIPTION }}"
                    class="button-probes-avail-info btn btn-success btn-xs">{{ _('Info') }}
            </button>
            <button type="button"
                    class="button-probes-avail-add btn btn-primary btn-xs">{{ _('Add') }}
            </button>
        </td>
    </tr>
</table>
