<table id="resources-table" class="table table-condensed table-striped table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th class="col-md-3">{{ _('Type') }}</th>
            <th class="col-md-6">{{ _('Name') }}</th>
            <th class="col-md-1 text-center">{{ _('Status') }}</th>
            <th class="col-md-2 text-center">{{ _('Reliability') }}</th>
        </tr>
    </thead>
    <tbody class="searchable">
    {% for resource in resources %}
        <tr>
            <td class="facet-type">{{ resource_types[resource.resource_type]['label'] }}</td>
            <td class="facet-name">
                <a class="facet-url" href="{{ url_for('get_resource_by_id', lang=g.current_lang, identifier=resource.identifier) }}" title="{{ resource.url  }}">{{ resource.title }}</a>
                <br>
                {% if resource.tags %}
                <select id="resource_tags" multiple="multiple" style="width: 80%;">
                {% for tag in resource.tags %}
                {% if tag.name != '' %}
                    <option value="{{ tag.name }}" selected="selected">{{ tag.name }}</option>
                {% endif %}
                {% endfor %}
                </select>
                {% endif %}
            </td>
            {% if resource.last_run %}
            <td class="text-center">
                <a href="{{ url_for('get_resource_by_id', lang=g.current_lang, identifier=resource.identifier) }}" title="{{ _('Details') }}">
             {% if resource.last_run.success %}
                 <span class="btn btn-circle btn-success"><i class="fa fa-check"></i></span>
             {% else %}
                 <span class="btn btn-circle btn-danger"><i class="fa fa-times"></i></span>
            </a>
            </td>
             {% endif %}
             <td class="text-center">
                 <a href="{{ url_for('get_resource_by_id', lang=g.current_lang, identifier=resource.identifier) }}" title="{{ _('Details') }}">
                     <span class="btn btn-{{ resource.reliability|cssize_reliability }} btn-block">{{ resource.reliability|round2 }}%</span>
                 </a>
             </td>
            {% else %}
            <td><span>No runs yet</span></td>
            <td><span>&nbsp;</span></td>
            {% endif %}
       </tr>
    {% endfor %}
    </tbody>
</table>
