{% extends "layout.html" %}

{% block body %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">[{{ _('Edit') }}] <span id="resource_title_h1">{{ resource.title }}</span></h1>

    <div class="table-responsive col-md-4" style="width: 100%;">
        <table class="table">
            <tr>
                <th>{{ _('Type') }}</th>
                <td>{{ resource_types[resource.resource_type]['label'] }}</td>
            </tr>
            <tr>
                <th>{{ _('Owner') }}</th>
                <td>{{ resource.owner.username }}</td>
            </tr>
            <tr>
                <th>
                    {{ _('Name') }}
                </th>
                <td>
                    <input type="text" id="input_resource_title" name="resource_title_value" value="{{ resource.title }}" style="width: 100%;"/>
                </td>
            </tr>
            <tr>
                <th>URL</th>
                <td><a href="{{ resource.get_capabilities_url }}">{{ resource.url }}</a></td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>
                    <select id="resource_tags" multiple="multiple" style="width: 100%;">
                    {% for tag in resource.tags %}
                        <option value="{{ tag.name }}" selected="selected">{{ tag.name }}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Probes</th>

                <td>
                    <table class="table">
                        {% for probe in resource.probe_vars %}
                        <tr>

                        <td title="{{ probes_avail[probe.probe_class].DESCRIPTION }}">
                            <span id="{{ probe.probe_class }}-{{ probe.identifier }}" >
                                <strong>{{ probes_avail[probe.probe_class].NAME }} ({{ probe.identifier }})</strong>  - by  {{ probes_avail[probe.probe_class].AUTHOR }}
                            </span>
                            <div id="resource-probe-info-{{ probe.resource_identifier }}-{{ probe.identifier }}"
                                 class="resource-probe-info" style="display: none">
                                <table class="table">
                                     <tr>
                                        <td>{{ probes_avail[probe.probe_class].DESCRIPTION }}</td>
                                    </tr>
                                    <tr>
                                         <td><strong>Parameters</strong>
                                             {% if not probe.parameters %}
                                                 This Probe has no parameters.
                                             {% else %}
                                             <table class="table">
                                                 {% for param in probe.parameters  %}
                                                        <tr>
                                                            <td width="30%">{{ param }}</td>
                                                            <td>{{ probe.parameters[param] }}</td>
                                                        </tr>
                                                 {% endfor %}
                                             </table>
                                             {% endif %}

                                         </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Checks</strong>
                                            {% if not probe.check_vars %}
                                                This Probe has no checks.
                                            {% else %}
                                            <table class="table">
                                                {% for check in probe.check_vars  %}
                                                       <tr>
                                                           <td width="30%">{{ check.check_class }}</td>
                                                           <td>{{ check.parameters }}</td>
                                                       </tr>
                                                {% endfor %}
                                            </table>
                                            {% endif %}

                                        </td>
                                     </tr>
                                </table>
                             </div>
                            <div id="resource-probe-edit-{{ probe.resource_identifier }}-{{ probe.identifier }}"
                                 class="resource-probe-edit" style="display: none">
                                <table class="table resource-probe-data" data-probe-class="{{ probe.probe_class }}">
                                    <tr>
                                         <td>
                                             <strong>Probe Parameters</strong>
                                             {% if not probe.parameters %}
                                             <br/><span>This Probe has no parameters.</span>
                                             {% else %}

                                             {% for param in probe.parameters  %}
                                             <table class="table resource-probe-params">
                                                 <tr>
                                                     <td width="30%">{{ param }}</td>

                                                     <td>
                                                         <input data-param-name="{{ param }}" type="text"
                                                                value="{{ probe.parameters[param] }}"
                                                                style="width: 100%;"
                                                         {% if 'value' in probes_avail[probe.probe_class].PARAM_DEFS[param] %}
                                                            readonly="true"
                                                          {% endif %}
                                                          />
                                                     </td>
                                                 </tr>
                                             </table>

                                             {% endfor %}
                                             {% endif %}

                                         </td>
                                     </tr>
                                    <tr>
                                         <td class="resource-probe-checks">
                                             <strong>Checks</strong>
                                             {% if not probe.check_vars %}
                                             <br/><span>This Probe has no Checks (maybe internal Checking).</span>
                                             {% else %}

                                             {% for check in probe.check_vars %}
                                             <table class="table resource-probe-check" data-check-class="{{ check.check_class }}">
                                             <tr>
                                                 <td><strong>{{ probes_avail[probe.probe_class].CHECKS_AVAIL[check.check_class].NAME }}</strong></td>
                                             </tr>
                                                 {% if check.parameters %}
                                                 <tr>
                                                    <td>
                                                        <i>Check Parameters</i>
                                                        <table class="table">
                                                            {% for param in check.parameters %}
                                                             <tr>
                                                                 <td>{{ param }}</td>
                                                                 <td>
                                                                 <input data-param-name="{{ param }}" type="text"
                                                                         value="{{ check.parameters[param] }}"
                                                                         style="width: 100%;"
                                                                  {% if 'value' in probes_avail[probe.probe_class].CHECKS_AVAIL[check.check_class].PARAM_DEFS[param] %}
                                                                     readonly="true"
                                                                   {% endif %}
                                                                   />

                                                                 </td>
                                                             </tr>
                                                            {% endfor %}
                                                        </table>
                                                    </td>
                                                  </tr>
                                                 {% endif %}
                                             </table>
                                             {% endfor %}
                                             {% endif %}

                                         </td>
                                     </tr>
                                    <tr>
                                         <td>
                                             <strong>Checks Available</strong>
                                             {% if not probes_avail[probe.probe_class].CHECKS_AVAIL %}
                                              <br/><span>No Checks available (maybe internal Checking).</span>
                                              {% else %}

                                             <ul>

                                             {% for check_avail in probes_avail[probe.probe_class].CHECKS_AVAIL %}
                                               <li>{{ probes_avail[probe.probe_class].CHECKS_AVAIL[check_avail].NAME }}</li>

                                             {% endfor %}
                                             </ul>
                                             {% endif %}


                                         </td>
                                     </tr>

                                </table>
                             </div>

                        </td>
                        <td>
                         <button id="button-resource-probe-edit-{{ probe.resource_identifier }}-{{ probe.identifier }}" type="button"
                                 class="button-resource-probe-edit btn btn-primary btn-xs">{{ _('Edit') }}</button>
                         <button id="button-resource-probe-delete"-{{ probe.resource_identifier }}-{{ probe.identifier }} type="button" class="btn btn-danger btn-xs">{{ _('Delete') }}</button>
                         </td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>

            </tr>
            <tr>
                <th>Probes<br/>Available</th>

                <td>
                    <table class="table">
                        {% for clazz in probes_avail %}
                         <tr>

                         <td id="{{ probes_avail[clazz] }}" title="{{ probes_avail[clazz].DESCRIPTION }}">
                             <span><strong>{{ probes_avail[clazz].NAME }} </strong>- by  {{ probes_avail[clazz].AUTHOR }}</span>
                         </td>
                         <td>
                          <button id="info{{ probes_avail[clazz] }}" type="button" title="{{ probes_avail[clazz].DESCRIPTION }}"
                                                     class="btn btn-success btn-xs">{{ _('Info') }}</button>
                          <button id="add{{ probes_avail[clazz] }}" type="button" class="btn btn-primary btn-xs">{{ _('Add') }}</button>
                          </td>
                         </tr>
                         {% endfor %}
                     </table>
                </td>

            </tr>
            {% if g.user.role == 'admin' or g.user.username == resource.owner.username %}
            <tr>
                <th>{{ _('Status') }}</th>

                <td>

                    <span id="status">OK</span>
                </td>

            </tr>
            <tr>
                <th>Action</th>

                <td>
                    <button id="save" type="button" class="btn btn-primary btn-sm">{{ _('Save') }}</button>
                    &nbsp;&nbsp;&nbsp;<button id="test" type="button" class="btn btn-primary btn-sm">{{ _('Test') }}</button>
                    &nbsp;&nbsp;&nbsp;<a href="{{ url_for('get_resource_by_id', lang=g.current_lang, identifier=resource.identifier) }}"><button id="title_cancel" type="button" class="btn btn-primary btn-sm">{{ _('Cancel') }}</button></a>
                    &nbsp;&nbsp;&nbsp;<a href="{{ url_for('delete', lang=g.current_lang, resource_identifier=resource.identifier) }}"><button id="confirm-delete" type="button" class="btn btn-danger btn-sm">{{ _('Delete') }}</button></a>
                </td>
            </tr>
            {% endif %}

         </table>
    </div>

    <div class="clearfix"></div>


</div>
{% endblock %}
{% block extrafoot %}
<script type="text/javascript">
    var all_tags = {{ tags.keys()|tojson }};
    $('#resource_tags').select2({data: all_tags, tags: true, disabled: false});
    var probes_json = '{{ probes_avail|tojson }}';
    // probes_available = JSON.parse(probes_json);

    {% if g.user.is_authenticated() %}

    $(".button-resource-probe-info").click(function(){
        $('.resource-probe-edit').hide();
        var button_id = $(this).attr('id');
        var id_arr = button_id.split('-');
        var resource_id = id_arr[id_arr.length-2];
        var probe_id = id_arr[id_arr.length-1];
        var resource_probe_info_id = '#resource-probe-info-' + resource_id + '-' + probe_id;

        if( $(resource_probe_info_id).css('display') == 'none' ) {
            $('.resource-probe-info').hide();
            $(resource_probe_info_id).show();
        } else {
            $(resource_probe_info_id).hide();
        }
        return false;
    });

    $(".button-resource-probe-edit").click(function(){
        $('.resource-probe-info').hide();
        var button_id = $(this).attr('id');
        var id_arr = button_id.split('-');
        var resource_id = id_arr[id_arr.length-2];
        var probe_id = id_arr[id_arr.length-1];
        var resource_probe_edit_id = '#resource-probe-edit-' + resource_id + '-' + probe_id;

        if( $(resource_probe_edit_id).css('display') == 'none' ) {
            $('.resource-probe-edit').hide();
            $(resource_probe_edit_id).show();
        } else {
            $(resource_probe_edit_id).hide();
        }
        return false;
    });

    $('#test').click(function() {
         $('#status').text("{{ _('Test') }}...");
         $.ajax({
             type: "POST",
             url: "{{ url_for('test', lang=g.current_lang, resource_identifier=resource.identifier) }}",
             data: JSON.stringify({}),
             contentType: "application/json; charset=utf-8",
             dataType: "json",
             success: function(data){
                 $('#status').text("{{ _('Test') }}: " + data.message + ' - ' + data.response_time + " {{ _('seconds') }}");
                 $('#test').blur();
             },
             error: function(errMsg) {
                 $('#status').text("{{ _('Test') }}: " + data.message);
                 $('#test').blur();
             }
         });
         return false;
     });

    $('#save').click(function() {
        // Collect title
        var new_title = $('input[name="resource_title_value"]').val();

        // Collect tags
        var new_tags = $('#resource_tags').val();

        // Collect Probes with parameters and contained Checks
        // also with parameters
        var new_probes = [];
        var probe_data = $('.resource-probe-data');
        probe_data.each(function (key, table) {
            var probe_class = $(table).attr('data-probe-class');
            var probe_map = {
                'probe_class': probe_class,
                'parameters': {},
                'checks': []
            };

            // Collect this Probe's parameters
            var parameters = {};
            $('input', table).each(function (key, input) {
                var param_name = $(input).attr('data-param-name');
                parameters[param_name] = $(input).val();
            });
            probe_map['parameters'] = parameters;

            // Collect this Probe's Checks with parameters
            var checks_data = $('.resource-probe-checks', table);
            var checks = probe_map['checks'];
            $('.resource-probe-check', checks_data).each(function (key, check) {
                var check_entry = {
                   'check_class': $(check).attr('data-check-class'),
                    'parameters': {}
                };
                var parameters = {};
                $('input', check).each(function (key, input) {
                    var param_name = $(input).attr('data-param-name');
                    parameters[param_name] = $(input).val();
                });
                check_entry['parameters'] = parameters;
                checks.push(check_entry);
            });

            probe_map['checks'] = checks;
            new_probes.push(probe_map);
        });

        $('#status').text("{{ _('Save') }}...");
        $.ajax({
            type: "POST",
            url: "{{ url_for('update', resource_identifier=resource.identifier) }}",
            data: JSON.stringify({
                title: new_title,
                tags: new_tags,
                probes: new_probes
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(data){
                $('#resource_title_h1').html(new_title);
                $('#status').text("{{ _('Save') }}: " + data.status);
                $('#save').blur();
            },
            error: function(data, msg, details) {
                $('#status').text("{{ _('ERROR') }} " + msg + ": " + details);
                $('#save').blur();
            }
        });
        return false;
    });

    $('#confirm-delete').click(function() {
        if (confirm('{{ _('Delete resource') }} "{{ resource.title }}"?') === false) {
            $('#confirm-delete').blur();
            return false;
        }
    });


    {% endif %}


</script>
{% endblock %}
