{% extends "layout.html" %}

{% block extrahead %}
        <link rel="alternate" type="application/json" href="{{ url_for('json') }}"/>
        <link rel="alternate" type="text/csv" href="{{ url_for('csv') }}"/>
{% endblock %}

{% block body %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    {% include 'includes/overall_status.html' %}
{% endblock %}

{% block extrabody %}
    <p>
        {{ _('Select a link on the left to view Resources.') }}
    </p>
    <h2>{{ _('Failing Resources') }}</h2>
    {% set resources = response['failed_resources'] %}
    <div>
    {% if resources|length > 0 %}
    {% include 'includes/resources_list.html' %}
    {% else %}
    {{ _('None') }}!
    {% endif %}
    </div>

</div>
{% endblock %}

{% block extrafoot %}
<script type="text/javascript" src="{{ url_for('static', filename='lib/jspark.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='site/js/resources_list.js') }}"></script>

{% endblock %}
