<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">
        <title>{{ config['GHC_SITE_TITLE'] }}</title>
        <link href="{{ url_for('static', filename='lib/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='lib/css/sb-admin-2.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='lib/font-awesome-4.1.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='lib/css/plugins/dataTables.bootstrap.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='lib/css/plugins/morris.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='lib/css/plugins/metisMenu/metisMenu.min.css') }}" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
        <link href="{{ url_for('static', filename='site/css/dashboard.css') }}" rel="stylesheet" type="text/css">

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% block extrahead %}
        {% endblock %}
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('home') }}"><i class="fa fa-home fa-fw"></i> {{ config['GHC_SITE_TITLE'] }}</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Add <i class="fa fa-plus"></i></a>
                            <ul class="dropdown-menu dropdown-messages">
                                {% for key, value in resource_types.iteritems() %}
                                <li><a href="{{ url_for('add', resource_type=key) }}">{{ value['label'] }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% if g.user.is_authenticated() %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ g.user.username }} <i class="fa fa-caret-down"></i></a>
                            <ul class="dropdown-menu dropdown-messages">
                                <li><a href="{{ url_for('logout', next=request.script_root+request.path) }}">Logout <i class="fa fa-sign-out fa-fw"></i></a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li><a href="{{ url_for('login', next=request.script_root+request.path) }}">Login<i class="fa fa-sign-in fa-fw"></i></a></li>
                        {% endif %}
                        <li><a href="https://github.com/geopython/GeoHealthCheck">Help <i class="fa fa-question-circle fa-fw"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li>
                            <i class="fa fa-filter fa-fw"></i><span>Resource Type <a href="{{ url_for('home') }}">Clear All</a></span>
                            <ul class="nav nav-second-level">
                                {% for rt in resource_types_counts %}
                                {% if rt[0] in ['OGC:CSW', 'OGC:WMS', 'OGC:WFS'] %}
                                {% if request.args.get('resource_type') == rt[0] %}
                                <li><a class="active" href="{{ url_for('home', resource_type=rt[0]) }}">{{ resource_types[rt[0]]['label'] }} ({{ rt[1] }})</a></li>
                                {% else%}
                                <li><a href="{{ url_for('home', resource_type=rt[0]) }}">{{ resource_types[rt[0]]['label'] }} ({{ rt[1] }})</a></li>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        <li>
                            <ul id="menu" class="nav nav-second-level">
                                <li>
                                    <a href="#" id="moreless">More <i class="fa fa-caret-down fa-fw"></i></a>
                                    <ul class="nav nav-second-level">
                                    {% for rt in resource_types_counts %}
                                    {% if rt[0] not in ['OGC:CSW', 'OGC:WMS', 'OGC:WFS'] %}
                                    {% if request.args.get('resource_type') == rt[0] %}
                                    <li><a class="active" href="{{ url_for('home', resource_type=rt[0]) }}">{{ resource_types[rt[0]]['label'] }} ({{ rt[1] }})</a></li>
                                    {% else%}
                                    <li><a href="{{ url_for('home', resource_type=rt[0]) }}">{{ resource_types[rt[0]]['label'] }} ({{ rt[1] }})</a></li>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li>
                            <i class="fa fa-cog fa-fw"></i>Settings
                            <ul class="nav nav-second-level">
                                <li><a>History: {{ config['GHC_RETENTION_DAYS'] }} days</a></li>
                                <li><a>Test Frequency: {{ config['GHC_RUN_FREQUENCY'] }}</a></li>
                                <li><a id="clockbox"></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                    <div id="flashed_message" class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                </div>
                {% block body %}
                {% endblock %}
            </div>
        </div>
        <footer><div class="footer text-center">Powered by <a href="http://geopython.github.io/GeoHealthCheck">GeoHealthCheck</a> {{ app_version }}</div></footer>
        <script src="{{ url_for('static', filename='lib/js/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/js/plugins/morris/raphael.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/js/plugins/morris/morris.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/js/plugins/dataTables/jquery.dataTables.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/js/plugins/metisMenu/metisMenu.min.js') }}"></script>
        <script type="text/javascript" src="//cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
        <script type="text/javascript">
            function updateClock() {
                $('#clockbox').html(new Date().toISOString().slice(0, 19)+'Z');
            }
            setInterval('updateClock()', 1000);
            $('#flashed_message').fadeOut(7000);
            $('#menu').metisMenu();
            $('#moreless').click(function() {
                $(this).html($(this).html() == 'Less <i class="fa fa-caret-up fa-fw"></i>' ? 'More <i class="fa fa-caret-down fa-fw"></i>' : 'Less <i class="fa fa-caret-up fa-fw"></i>');
            });
        </script>
        {% block extrafoot %}
        {% endblock %}
    </body>
</html>
