<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="refresh" content="{{ next_page_refresh }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ config['GHC_SITE_TITLE'] }}">
        <link rel="icon" href="../../favicon.ico">
        <title>{{ config['GHC_SITE_TITLE'] }}</title>
        <link href="{{ url_for('static', filename='lib/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='lib/dist/css/sb-admin-2.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='lib/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='lib/vendor/datatables/css/dataTables.bootstrap.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='lib/vendor/morrisjs/morris.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='lib/leaflet/leaflet.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='lib/select2/dist/css/select2.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='site/css/dashboard.css') }}" rel="stylesheet" type="text/css">
        <link rel="search" type="application/opensearchdescription+xml" href="{{ url_for('opensearch') }}" title="{{ config['GHC_SITE_TITLE'] }}"/>

        <!--[if lt IE 9]>
        <script src="{{ url_for('static', filename='lib/html5shiv.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/respond.min.js') }}"></script>
        <![endif]-->
        {% block extrahead %}
        {% endblock %}
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('home', lang=g.current_lang) }}"><i class="fa fa-home fa-fw"></i> {{ config['GHC_SITE_TITLE'] }}</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ _('Add') }} <i class="fa fa-plus"></i></a>
                            <ul class="dropdown-menu dropdown-messages">
                                {% for key, value in resource_types.items() %}
                                <li><a href="{{ url_for('add', lang=g.current_lang, resource_type=key) }}">{{ value['label'] }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% if g.user.is_authenticated() %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ g.user.username }} <i class="fa fa-caret-down"></i></a>
                            <ul class="dropdown-menu dropdown-messages">
                                <li><a href="{{ url_for('logout', lang=g.current_lang, next=request.script_root+request.path) }}">Logout <i class="fa fa-sign-out fa-fw"></i></a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li><a href="{{ url_for('login', lang=g.current_lang, next=request.script_root+request.path) }}">{{ _('Login') }}<i class="fa fa-sign-in fa-fw"></i></a></li>
                        {% endif %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ _('Language') }} <i class="fa fa-plus"></i></a>
                            <ul class="dropdown-menu dropdown-messages">
                                {% for member in languages %}
                                <li><a href="{{ request.script_root+request.path }}?lang={{ member[0] }}">{{ member[1].decode('utf-8') }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a href="{{ url_for('static', filename='docs/index.html') }}">{{ _('Help') }} <i class="fa fa-question-circle fa-fw"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li>
                            <i class="fa fa-filter fa-fw"></i><span>{{ _('Resource Types') }} ({{ resources_total }})</span>
                            <ul class="nav nav-second-level">
                                {% for rt in resource_types_counts %}
                                {% if request.args.get('resource_type') == rt[0] %}
                                <li><a class="active" href="{{ url_for('home', lang=g.current_lang, resource_type=rt[0]) }}">{{ resource_types[rt[0]]['label'] }} ({{ rt[1] }})</a></li>
                                {% else %}
                                <li><a href="{{ url_for('home', lang=g.current_lang, resource_type=rt[0]) }}">{{ resource_types[rt[0]]['label'] }} ({{ rt[1] }})</a></li>
                                {% endif %}
                                {% endfor %}
                                <li><i><a href="{{ url_for('home', lang=g.current_lang) }}">{{ _('Show All') }}</a></i></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li>
                            <i class="fa fa-filter fa-fw"></i><span>{{ _('Tags') }}</span>
                            <ul class="nav nav-second-level">
                                {% for tag, count in tags.items() %}
                                {% if request.args.get('tag') == tag %}
                                <li><a class="active" href="{{ url_for('home', lang=g.current_lang, tag=tag) }}">{{ tag }} ({{ count }})</a></li>
                                {% else %}
                                <li><a href="{{ url_for('home', lang=g.current_lang, tag=tag) }}">{{ tag }} ({{ count }})</a></li>
                                {% endif %}
                                {% endfor %}
                                <li><i><a href="{{ url_for('home', lang=g.current_lang) }}">{{ _('Show All') }}</a></i></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li>
                            <i class="fa fa-cog fa-fw"></i>{{ _('Settings') }}
                            <ul class="nav nav-second-level">
                                <li><a>{{ _('History') }}: {{ config['GHC_RETENTION_DAYS'] }} {{ _('days') }}</a></li>
                                <li><a>{{ _('Test Frequency') }}: {{ config['GHC_RUN_FREQUENCY'] }}</a></li>
                                <li><a id="clockbox"></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                    <div id="flashed_message" class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                </div>
                {% block body %}
                {% endblock %}
            </div>
        </div>
        <footer><div class="footer text-center">{{ _('Powered by') }} <a href="http://geohealthcheck.org">GeoHealthCheck</a> {{ app_version }}</div></footer>
        <script src="{{ url_for('static', filename='lib/vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/vendor/raphael/raphael.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/vendor/morrisjs/morris.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/leaflet/leaflet.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/select2/dist/js/select2.min.js') }}"></script>
        <script type="text/javascript">
            function updateClock() {
                $('#clockbox').html(new Date().toISOString().slice(0, 19)+'Z');
            }
            setInterval('updateClock()', 1000);
            $('#flashed_message').fadeOut(7000);
        </script>
        {% block extrafoot %}
        {% endblock %}
    </body>
</html>
