{% extends "layout.html" %}

{% block extrahead%}
<link href="{{ url_for('static', filename='lib/css/plugins/morris.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}
    <h1 class="page-header">Health Check Information</h1>
    <div class="table-responsive col-md-4">
        <table class="table">
            <tr>
                <th>Type</th>
                <td>{{ resource_types[resource.resource_type] }}</td>
            </tr>
            <tr>
                <th>Owner</th>
                <td>{{ resource.owner.username }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ resource.title }}</td>
            </tr>
            <tr>
                <th>URL</th>
                <td><a href="{{ resource.url }}">{{ resource.url }}</a></td>
            </tr>
            <tr>
                <th>Reliability</th>
                <td>
                    <button class="btn btn-{{ resource.reliability| cssize_reliability }} btn-sm">{{ resource.reliability }}%</button>
                    <a href="{{ request.path }}/test"><button type="button" class="btn btn-primary btn-sm">Test Now</button></a>
                    <a href="{{ request.path }}/delete"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <pre>
{{ resource.snippet() }}
        </pre>
    </div>
    <div class="clearfix"></div>
    <div id="morris-bar-chart" style="height: 250px;"></div>
    <div class="table-responsive">
        <h2 class="sub-header">History</h2>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Response Time (seconds)</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            {% for run in resource.runs|sort(reverse=True, attribute='checked_datetime') %}
                <tr>
                    <td>{{ run.checked_datetime }}</td>
                    <td>{{ run.response_time }}</td>
                    {% if run.success %}
                    <td><button type="button" class="btn btn-success btn-circle"><i class="fa fa-check"></i></button></td>
                    {% else %}
                    <td><button type="button" class="btn btn-danger btn-circle btn"><i class="fa fa-times"></i></button></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block extrafoot %}
<script src="{{ url_for('static', filename='lib/js/plugins/morris/raphael.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/js/plugins/morris/morris.min.js') }}"></script>
    <script type="text/javascript">
    var run_data = {{ resource.runs_to_json()|safe }};
    var colors_data = {{ resource.success_to_colors()|safe }};

        Morris.Area({
            element: 'morris-bar-chart',
            data: run_data,
            lineColors: colors_data,
            xkey: 'datetime',
            ykeys: ['value'],
            labels: ['Response Time'],
            fillOpacity: 0.5,
            hideHover: true,
            //events: [run_data[1]['datetime']],
            resize: true
    });
    </script>
{% endblock %}
