{% extends "layout.html" %}

{% block extrahead %}
        <link rel="alternate" type="application/json" href="{{ url_for('json-resource', identifier=resource.identifier) }}"/>
        <link rel="alternate" type="text/csv" href="{{ url_for('csv-resource', identifier=resource.identifier) }}"/>
{% endblock %}

{% block body %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header"><span id="resource_title_h1">{{ resource.title }}</span>    </h1>
        {% if g.user.is_authenticated() %}
        <h1 class="page-header">
        <a href="{{ url_for('test', lang=g.current_lang, resource_identifier=resource.identifier) }}"><button type="button" class="btn btn-primary btn-sm">{{ _('Test Now') }}</button></a>
        {% if g.user.role == 'admin' or g.user.username == resource.owner.username %}
        <a href="{{ url_for('edit_resource', lang=g.current_lang, resource_identifier=resource.identifier) }}"><button id="resource_edit" type="button" class="btn btn-primary btn-sm">{{ _('Edit') }}</button></a>
        <a href="{{ url_for('delete', lang=g.current_lang, resource_identifier=resource.identifier) }}"><button id="confirm-delete" type="button" class="btn btn-danger btn-sm">{{ _('Delete') }}</button></a>
        {% endif %}
        </h1>
        {% endif %}
    <div class="table-responsive col-md-4">
        <table class="table">
            <tr>
                <th>{{ _('Type') }}</th>
                <td>{{ resource_types[resource.resource_type]['label'] }}</td>
            </tr>
            <tr>
                <th>{{ _('Active') }}</th>
                <td>{{ resource.active }}</td>
            </tr>
            <tr>
                <th>{{ _('Owner') }}</th>
                <td>{{ resource.owner.username }}</td>
            </tr>
            <tr>
                <th>
                    {{ _('Name') }}
                </th>
                <td id="resource_title">{{ resource.title }}</td>
            </tr>
            <tr>
                <th>URL</th>
                <td><a href="{{ resource.get_capabilities_url }}">{{ resource.url }}</a></td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>
                    <select id="resource_tags" multiple="multiple" style="width: 100%;">
                    {% for tag in resource.tags %}
                        <option value="{{ tag.name }}" selected="selected">{{ tag.name }}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
              <th>{{ _('Run Every') }}</th>
              <td>
              {{ resource.run_frequency }} {{ _('minutes') }}
              </td>
            </tr>
            <tr>
                <th>Probes</th>

                <td>
                    {% for probe_var in resource.probe_vars %}
                    - {{ probe_var.name }}  <br/>
                    {% endfor %}
                </td>

            </tr>
            <tr>
                <th>{{ _('Response Times (seconds)') }}</th>
                <td>
                    <ul>
                        <li>{{ _('Min') }}: {{ resource.min_response_time|round(2) }}</li>
                        <li>{{ _('Average') }}: {{ resource.average_response_time|round(2) }}</li>
                        <li>{{ _('Max') }}: {{ resource.max_response_time|round(2) }}</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>{{ _('Reliability') }}</th>
                <td>
                    <button class="btn btn-{{ resource.reliability| cssize_reliability }} btn-sm nohover">{{ resource.reliability|round2 }}%</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4">
            <div id="resource-map" class="resource-map"></div>
        </div>
        <div class="col-lg-4 col-md-4">
            <h4>{{ _('Last Run Result') }}</h4>
             {% if resource.last_run %}
                <ul>
                    <li>{{ _('Last Check') }} : {{ resource.last_run.checked_datetime.strftime('%Y-%m-%dT%H:%M:%SZ') }} </li>
                    <li>{{ _('Success') }}: {{ resource.last_run.success }} </li>
                    <li>{{ _('Message') }}: {{ resource.last_run.message }} </li>
                    <li>{{ _('Response Time') }}: {{ resource.last_run.response_time|round(2) }} </li>
                </ul>
            {% else %}
                <p>{{ _('No runs yet') }}.</p>
            {% endif %}
            <h4>{{ _('Last Run Summary') }}</h4>
            <a class="btn btn-default btn-xs" href="{{ url_for('json-resource', identifier=resource.identifier) }}"><span class="fa fa-download"></span> JSON</a> <a class="btn btn-default btn-xs" href="{{ url_for('csv-resource', identifier=resource.identifier) }}"><span class="fa fa-download"></span> CSV</a>
        </div>
    </div>
    <div class="clearfix"></div>
    {% if resource.first_run %}
    <h3>{{ _('History') }}</h3>
    <table class="table" style="width:60%">
        <tr>
            <th style="width:10%">{{ _('Period') }}</th>
            <td>{{ resource.first_run.checked_datetime.strftime('%Y-%m-%d %H:%M:%SZ') }} - {{ resource.last_run.checked_datetime.strftime('%Y-%m-%d %H:%M:%SZ') }}</td>
        </tr>
        <tr>
            <th>{{ _('Date') }}</th>
            <td><span id="run-chart-hover-date">&nbsp;</span></td>
        </tr>
        <tr>
            <th>{{ _('Duration') }}</th>
            <td><span id="run-chart-hover-resptime">({{ _('Total Probe execution duration') }})</span></td>
        </tr>
        <tr>
            <th>{{ _('Message') }}</th>
            <td><div style="overflow: hidden;height:60px;" id="run-chart-hover-msg">({{ _('Hover mouse over plot to see Run Results here') }})</div></td>
        </tr>
        <tr>
            <th>{{ _('Full report') }}</th>
            <td><a id="run-chart-hover-report" target="run" href="#">[{{ _('Show') }}]</a></td>
        </tr>
    </table>

    <div id="run-chart" style="width:75%;height:600px;border:2px"></div>

    <div>
        <h4>{{ _('Download') }}:  <a class="btn btn-default btn-xs" href="{{ url_for('json-resource-history', identifier=resource.identifier) }}"><span class="fa fa-download"></span> JSON</a> <a class="btn btn-default btn-xs" href="{{ url_for('csv-resource-history', identifier=resource.identifier) }}"><span class="fa fa-download"></span> CSV</a></h4>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block extrafoot %}
<script type="text/javascript" src="{{ url_for('static', filename='lib/plotly/1.43.1/plotly-basic.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='site/js/runs_chart.js') }}"></script>
<script type="text/javascript">

    {% if g.user.is_authenticated() %}
    $('#confirm-delete').click(function() {
        if (confirm('{{ _('Delete resource') }} "{{ resource.title }}"?') === false) {
            return false;
        }
    });

    $('#resource_edit').click(function() {
        // $('#flashed_message').append('<br/><strong>Getting metadata for Resource...</strong>');
        return true;
    });

    {% endif %}

    {% if resource.first_run %}
    $(window).on('load', function() {
        // Plot run data (when available) in interactive Chart
        var runData = {{ resource.runs_to_json()|safe }};
        var resourceURL = '{{ url_for('api_runs', resource_id=resource.identifier) }}';
        var hoverTemplate = "{{ _('Date') }}: %{x}  {{ _('Duration') }}: %{y:.2f}s"
        drawChart('run-chart', runData, resourceURL, hoverTemplate);
    });

    {% endif %}

    // Show Resource location Map
    var map = L.map('resource-map').setView([{{ resource.latitude }}, {{ resource.longitude }}], 5);

    map.addLayer(new L.TileLayer(
        '{{ config['GHC_MAP']['url']}}', {
            maxZoom: {{ config['GHC_MAP']['maxzoom']}},
            subdomains: '{{ config['GHC_MAP']['subdomains']}}',
        }
    ));
    L.marker([{{ resource.latitude }}, {{ resource.longitude }}]).addTo(map)

    $('#resource_tags').select2({
        tags: true,
        disabled: true
    });
</script>

{% endblock %}
